body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #a192f7, #fcc092);
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(51, 46, 46, 0.1)
}

form {
    background: linear-gradient(to right, #5b40f3, #ee7d26);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    font-size: 1em;
}

button {
    background-color: #ffffff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    margin: auto;
    display: block;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffb158;
}

h3 {
    color: #ffffff;
    margin-top: 50px;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(51, 46, 46, 0.1)
}

p {
    color: #555;
    font-size: 1.1em;
}

#predictionResultContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

#predictionResult {
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: 68px;
    font-size: 1.2em;
}
